:root {
  --primary-theme-color: #20232abf;
  --secondary-theme-color: #282c34;
  --primary-text-color: #fff;
  --primary-highlight-color: #61dafb;
  --primary-font-family: monospace;
}

.body {
  background-color: var(--primary-theme-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font-family);
  margin: 0;
}

.hero {
  background-image: url(https://i.postimg.cc/7PJV8Dp8/react-01-01-wpo.webp);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.card {
  background-color: var(--primary-theme-color);
  border: 0.125rem solid var(--primary-highlight-color);
  border-radius: 1rem;
  max-width: 320px;
  margin: auto;
  overflow: hidden;
}